{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "camelcase": [2, { "properties": "always" }],
    "import/no-extraneous-dependencies": ["off"],
    "indent": ["error", 4],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/prop-types": ["error", { "ignore": ["children"] }],
    "semi": ["error", "never"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "16.12.0"
    },
    "import/resolver": {
      "webpack": {
        "config": "webpack.js"
      }
    }
  }
}